body{
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.col-md-5{
    margin-top: 130px !important;
    margin-left: 300px !important;
    padding: 20px !important;
}
input{
    margin-top: 20px !important;
}
button{
    margin-top: 20px !important;
}
.success{
    border: 3px solid green !important;

}
.error{
    border: 3px solid red !important;
}
small{
    color: red !important;
    font-weight: bold !important;
    margin: 5px !important;
    text-align: start !important;
}