body{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.col-md-5{
    margin-top: 150px !important;
    background-color: #fff;
}
h1{
    text-align: center;
    font-weight: bold !important;
    margin: 20px !important;
}
input{
    display: inline !important;
    border-color: 3px solid black !important;
    width: 80% !important;
}
button{
    margin: 10px !important;
}
li{
    list-style-type: none;
    margin: 10px;
    display: inline;
    font-weight: bold;
}
i{
    color: red;
    margin: 10px;
}